﻿@{
    ViewData["Title"] = "Home Page";
}

@model TrackAndTrace.Models.ItemsTracking_Result

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="lib/bootstrap/css/bootstrap.min.css?vs=4" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
<link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
<link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/venobox/venobox.css" rel="stylesheet">
<!-- Nivo Slider Theme -->
<link href="css/nivo-slider-theme.css?vs=2.1" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="css/style.css?vs=2.2" rel="stylesheet">
<!-- Responsive Stylesheet File -->
<link href="css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
<!-- =======================================================
  Theme Name: eBusiness
  Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
======================================================= -->

<script src="lib/jquery/jquery.min.js"></script>

<style>
    body, html, form {
        height: 100%;
        margin: 0;
        background: #f1f1f1;
        /*background-image: url("image/bg-02.jpg");*/
    }

    .bg {
        background-image: url('~/images/bg-01.jpg');
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-body {
        padding: 15px;
    }

    .panel-success {
        border-color: #d6e9c6;
    }

        .panel-success > .panel-heading {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

    .mt0 {
        margin: 0
    }
</style>

<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa-angle-down').addClass('fa-angle-up');

        } else {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa-angle-up').addClass('fa-angle-down');

        }
    })
</script>
<section>
    <div class="wellcome-area" style="background-image:url(https://thaipublica.org/wp-content/uploads/2018/08/thumbnail_IMG_3299.jpg)">
        <div class="well-bg">
            <div class="test-overly"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="wellcome-text">
                            <div class="well-text text-center">
                                <h2>Track And Trace</h2>
                                <p>
                                    ติดตามพัสดุของคุณได้ตลอดเวลา
                                </p>
                                <div class="subs-feilds-x">
                                    <script>
                                        function _subscriptionSuccess() {
                                            setTimeout(function () {
                                                AGSuccess("Thank you for subscription.");
                                            }, 500);
                                        }
                                    </script>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group mt-5">

                                                <input id="input-mailId" type="text" class="form-control form-control-lg require" placeholder="Enter your tracking number" value="EE145614148TH,EE148609439TH,EE"/>
                                                <span class="input-group-append">
                                                    <button type="button" id="btn-track" class="btn btn-danger" onclick="$(this).next().click();">Track</button>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="mail-id-list" class="container mt-5 mb-5">
    </div>
</section>

<script src="~/framework/js/sni-track-plugin.js"></script>
